blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
cryptography
firebase-admin
Flask
Flask-Cors
gcloud==0.18.3
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
jws
MarkupSafe
msgpack
numpy
opencv-python-headless  # Replaced opencv-python with opencv-python-headless
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pycryptodome  # Replaced pycrypto with pycryptodome
PyJWT
pyparsing
Pyrebase
Pyrebase4
python-jwt
pyzbar
qrcode
requests
requests-toolbelt
rsa
setuptools
six
uritemplate
urllib3
Werkzeug
